body {
    background-color: rgb(241, 241, 241);
}

h1, h3 {
    color: rgb(0, 156, 196);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(226, 226, 226);
    border-width: 5px;
    width: 5%;
}